<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="uk.org.secondfiddle.pep.products.ProductNature"
         name="Product Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="uk.org.secondfiddle.pep.products.ProductNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="uk.org.secondfiddle.pep.products.ProductBuilder"
         name="Product Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="uk.org.secondfiddle.pep.products.ProductBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="uk.org.secondfiddle.pep"
               label="Plug-in Tools">
            <command
                  commandId="uk.org.secondfiddle.pep.products.command"
                  label="Add Product Nature"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <and>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="uk.org.secondfiddle.pep.products.ProductNature">
                           </test>
                        </not>
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.product">
                        </test>
                     </and>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.org.secondfiddle.pep.products.ui.ProductNatureAddHandler"
            id="uk.org.secondfiddle.pep.products.command"
            name="Add Product Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.org.secondfiddle.pep.products.ProductNatureActivator$ForceActivation">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="uk.org.secondfiddle.pep.products.ui.ProductEditorWithSource"
            contributorClass="uk.org.secondfiddle.pep.products.ui.UnrestrictedProductEditorContributor"
            default="true"
            extensions="product"
            icon="icons/product_xml_obj.gif"
            id="uk.org.secondfiddle.pep.products.productEditorWithSource"
            name="Product Configuration Editor With Source">
      </editor>
   </extension>
   <extension
         id="problem"
         name="Product Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.pde.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
