<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="uk.org.secondfiddle.pep.projects.ProjectTemplateNature"
         name="Project Template Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="uk.org.secondfiddle.pep.projects.ProjectTemplateNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.org.secondfiddle.pep.projects.ProjectTemplateActivator$ForceActivation">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="projecttemplate"
            name="Project Templates">
      </category>
   </extension>

</plugin>
