<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.pde.ui"
            class="uk.org.secondfiddle.pep.features.explorer.FeatureExplorerView"
            icon="icons/feature_obj.gif"
            id="uk.org.secondfiddle.pep.features.explorer.FeatureExplorerView"
            name="Feature Explorer"
            restorable="true">
      </view>
   </extension>

</plugin>
